@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root{
  --white: rgb(250, 250, 250);
  --dark: rgb(17,24,39);
  --neon-cyan: #00ffe2;
  --neon-green: #96ff00;
  --neon-pink: #ff00c1;
}*/
body{
  overflow-y: scroll;
  scroll-behavior:smooth;
  overflow-x: hidden;
  box-sizing: border-box;
  color: rgb(250, 250, 250);
  background-color: rgb(17,24,39);
}
.encode-sans{
  font-family: "Encode Sans Expanded", sans-serif;
  font-style: normal;
}
.anta-regular {
  font-family: "Anta", sans-serif;
  font-style: normal;
}
.background{
  @apply bg-cover bg-center min-h-screen flex justify-center bg-fixed top-0 items-center
}
.dark-overlay{
  @apply flex flex-col justify-center mx-20 my-8 items-center bg-gray-900/70 rounded-md p-3
}
.homepage{
  @apply text-zinc-50 h-full flex flex-col justify-evenly items-center
}
.main-box{
  @apply flex flex-col rounded-md py-5 px-10 w-full flex-wrap
}
.grid-box{
  @apply grid grid-cols-6 grid-rows-1 gap-1 rounded-b-md
}
@media (max-width: 900px){
  .grid-box {
    @apply grid grid-cols-3 grid-rows-2
  }
}
.topic-box{
  @apply flex flex-col items-center justify-center p-4 w-full cursor-pointer bg-zinc-300/30
}
.topic-box:hover{
  @apply bg-zinc-100/50;
}
.image-topic{
  @apply w-28 h-28 flex items-center justify-center
}
.img{
  @apply rounded-full overflow-hidden w-full h-full object-cover
}



.nav-item{
  @apply flex items-center justify-center py-4 w-20 h-24 cursor-pointer bg-zinc-300/30 relative
}
.nav-item:hover{
  @apply bg-zinc-100/50;
}
.image-item{
  @apply w-14 h-14
}
.popup {
  position: absolute;
  background-color: rgba(17, 24, 39, 0.7);
  color: rgb(250, 250, 250);
  padding: 2px 6px;
  border-radius: 5px;
  z-index: 3;
  font-size: 0.8rem;
}
.popup::before{
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 10px solid transparent;
  border-top-color: rgba(17, 24, 39, 0.7);
}
.nav-item:hover .popup {
  display: block;
}



.icon-button{
  @apply w-10 h-10 mx-4 border-2 border-transparent rounded-full
}
.icon-button:hover{
  border: 2px transparent;
  box-shadow: 0 0 10px 3px #00ffe2;
  transition: box-shadow 0.3s ease-in-out;
}
.animate-slide-down {
  animation: slideDown 0.3s ease-out;
}
.animate-slide-up {
  animation: slideUp 0.3s ease-out;
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}


.search-input{
  @apply rounded px-2 py-1 border-none w-full text-gray-900
}
input[type="text"]:focus {
  outline: none;
}
.search-button{
  @apply absolute top-0 bottom-0 right-0
}
.search-button svg:hover{
  color: #00ffe2;
}
.title-shadow{
  text-shadow: 0px 0px 10px #fff;
}

/*typewriter effect for topic title*/
.typewriter h1{
  padding-right: 0.1rem;
  overflow: hidden;
  border-right: 0.2rem solid #00ffe2;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #00ffe2; }
}

.grid-three-div{
  @apply grid grid-cols-3 gap-4 items-center encode-sans mx-6 my-2 p-4
}
.column-div{
  @apply flex flex-col items-center w-full
}

/*blink-pulse effect*/
.blink {
  animation: blinking 2s linear infinite;
  color: #dc2626;
  text-shadow:
  0 0 7px #530404,
  0 0 10px #530404,
  0 0 21px #a81717,
  0 0 42px #a81717,
  0 0 82px #e03d3d,
  0 0 92px #f87676,
  0 0 102px #f87676;
}
@keyframes blinking{
  50%{
    opacity: 0.6;
    transform: scale(0.9);
  }
}

/*slide left*/
.animate-slide-left{
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.5s, transform 0.5s;
}
.animate-slide-left.show {
  opacity: 1;
  transform: translateX(0);
}
/*slide up*/
.animate-slide-up {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
}
.animate-slide-up.show {
  opacity: 1;
  transform: translateY(0);
}

/*divider bar*/
.divider{
  @apply border-zinc-50/20 w-full
}


/*glow border div*/
.glow{
  width: 70vmin;
  height: 20vmin;
  display: grid;
  place-content: center;
  color: rgb(250, 250, 250);
  text-shadow: 0 1px 0 #000;
  --border-angle: 0turn;
  --main-bg: conic-gradient(
    from var(--border-angle),
    #213,
    #112 5%,
    #112 60%,
    #213 95%
  );
  border: solid 5px transparent;
  border-radius: 2em;
  --gradient-border: conic-gradient(
    from var(--border-angle),
    transparent 25%,
    #00ffe2,
    #ff00c1 99%,
    transparent
  );
  background: var(--main-bg) padding-box, var(--gradient-border) border-box, var(--main-bg) border-box;
  background-position: center center;
  -webkit-animation: bg-spin 4s linear infinite;
          animation: bg-spin 4s linear infinite;
}
@-webkit-keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}


.grid-list{
  @apply grid grid-cols-2 gap-x-20 gap-y-4 m-6 encode-sans text-sm
}
.list-item{
  @apply flex flex-row items-center justify-between my-2 cursor-default
}
/*glow shadow and bounce hover effect for text*/
.list-item li{
  transition: transform 0.3s ease;
}
.list-item li:hover{
  color: #96ff00;
  text-shadow:
  0 0 7px #a8ff2e,
  0 0 10px #a8ff2e,
  0 0 21px #b9ff57,
  0 0 42px #b9ff57,
  0 0 82px #cdff88,
  0 0 92px #fafafa,
  0 0 102px #fafafa;

  transform: translateY(-5px);
  animation: bounce 0.5s infinite alternate;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

/*galleria circolare immagini global temperature*/
.gallery {
  display: grid;
  gap: 6px;
  grid-template-columns: auto 0 auto;
  place-items: center;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  width: fit-content;
}
.gallery > img {
  width: 150px;
  aspect-ratio: 1;
  object-fit: cover;
  transition: .3s;
  filter: grayscale();
  cursor: pointer;
  max-width: none;
}
.gallery > img:hover {
  filter: grayscale(0%);
}
.gallery > img:nth-child(1) {
  clip-path: polygon(0 0,50% 0,100% 100%,0 100%);
}
.gallery > img:nth-child(2) {
  clip-path: polygon(0 0,100% 0,50% 100%);
}
.gallery > img:nth-child(3) {
  clip-path: polygon(50% 0,100% 0,100% 100%,0 100%);
}
.gallery > img:nth-child(4) {
  clip-path: polygon(0 0,100% 0,50% 100%,0 100%);
}
.gallery > img:nth-child(5) {
  clip-path: polygon(50% 0,100% 100%,0% 100%);
}
.gallery > img:nth-child(6) {
  clip-path: polygon(0 0,100% 0,100% 100%,50% 100%);
}

.target-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 1rem;
}
/*vanishing effect animation for 'climate change'*/
.vanishing-effect{
  text-align: center;
  background: linear-gradient(90deg, rgb(17,24,39), rgb(250, 250, 250), rgb(17,24,39));
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 7s linear infinite;
  position: relative;
}
@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}



/*glitch animation for title*/
.glitch {
  position: relative;
  color: #fff;
  font-size: 4em;
  letter-spacing: 0.1em;
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #00ffe2;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #96ff00, 2px 2px #ff00c1;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim2 5s infinite linear alternate-reverse;
}
@keyframes glitch-anim {
  0% {
    clip: rect(38px, 9999px, 36px, 0);
    transform: skew(0.19deg);
  }
  5% {
    clip: rect(62px, 9999px, 61px, 0);
    transform: skew(0.66deg);
  }
  10% {
    clip: rect(3px, 9999px, 59px, 0);
    transform: skew(1deg);
  }
  15% {
    clip: rect(70px, 9999px, 20px, 0);
    transform: skew(0.13deg);
  }
  20% {
    clip: rect(99px, 9999px, 38px, 0);
    transform: skew(0.39deg);
  }
  25% {
    clip: rect(82px, 9999px, 54px, 0);
    transform: skew(0.81deg);
  }
  30% {
    clip: rect(64px, 9999px, 33px, 0);
    transform: skew(0.61deg);
  }
  35% {
    clip: rect(21px, 9999px, 49px, 0);
    transform: skew(0.52deg);
  }
  40% {
    clip: rect(63px, 9999px, 16px, 0);
    transform: skew(0.25deg);
  }
  45% {
    clip: rect(86px, 9999px, 28px, 0);
    transform: skew(0.34deg);
  }
  50% {
    clip: rect(52px, 9999px, 77px, 0);
    transform: skew(0.7deg);
  }
  55% {
    clip: rect(76px, 9999px, 39px, 0);
    transform: skew(0.56deg);
  }
  60% {
    clip: rect(50px, 9999px, 70px, 0);
    transform: skew(0.68deg);
  }
  65% {
    clip: rect(32px, 9999px, 43px, 0);
    transform: skew(0.81deg);
  }
  70% {
    clip: rect(83px, 9999px, 20px, 0);
    transform: skew(0.54deg);
  }
  75% {
    clip: rect(5px, 9999px, 69px, 0);
    transform: skew(0.26deg);
  }
  80% {
    clip: rect(13px, 9999px, 86px, 0);
    transform: skew(0.9deg);
  }
  85% {
    clip: rect(8px, 9999px, 81px, 0);
    transform: skew(0.81deg);
  }
  90% {
    clip: rect(87px, 9999px, 42px, 0);
    transform: skew(0.05deg);
  }
  95% {
    clip: rect(93px, 9999px, 90px, 0);
    transform: skew(0.56deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(83px, 9999px, 54px, 0);
    transform: skew(0.86deg);
  }
  5% {
    clip: rect(31px, 9999px, 5px, 0);
    transform: skew(0.83deg);
  }
  10% {
    clip: rect(42px, 9999px, 56px, 0);
    transform: skew(0.76deg);
  }
  15% {
    clip: rect(39px, 9999px, 92px, 0);
    transform: skew(0.77deg);
  }
  20% {
    clip: rect(56px, 9999px, 63px, 0);
    transform: skew(0.42deg);
  }
  25% {
    clip: rect(12px, 9999px, 65px, 0);
    transform: skew(0.48deg);
  }
  30% {
    clip: rect(64px, 9999px, 22px, 0);
    transform: skew(0.05deg);
  }
  35% {
    clip: rect(28px, 9999px, 47px, 0);
    transform: skew(0.22deg);
  }
  40% {
    clip: rect(80px, 9999px, 82px, 0);
    transform: skew(0.75deg);
  }
  45% {
    clip: rect(53px, 9999px, 10px, 0);
    transform: skew(0.81deg);
  }
  50% {
    clip: rect(76px, 9999px, 52px, 0);
    transform: skew(0.11deg);
  }
  55% {
    clip: rect(72px, 9999px, 63px, 0);
    transform: skew(0.55deg);
  }
  60% {
    clip: rect(17px, 9999px, 75px, 0);
    transform: skew(0.22deg);
  }
  65% {
    clip: rect(84px, 9999px, 56px, 0);
    transform: skew(0.51deg);
  }
  70% {
    clip: rect(2px, 9999px, 41px, 0);
    transform: skew(0.24deg);
  }
  75% {
    clip: rect(76px, 9999px, 49px, 0);
    transform: skew(0.73deg);
  }
  80% {
    clip: rect(94px, 9999px, 98px, 0);
    transform: skew(0.38deg);
  }
  85% {
    clip: rect(25px, 9999px, 23px, 0);
    transform: skew(0.88deg);
  }
  90% {
    clip: rect(12px, 9999px, 77px, 0);
    transform: skew(0.37deg);
  }
  95% {
    clip: rect(58px, 9999px, 75px, 0);
    transform: skew(0.21deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(0deg);
  }
  10% {
    transform: skew(2deg);
  }
  20% {
    transform: skew(4deg);
  }
  30% {
    transform: skew(0deg);
  }
  40% {
    transform: skew(3deg);
  }
  50% {
    transform: skew(-1deg);
  }
  60% {
    transform: skew(-4deg);
  }
  70% {
    transform: skew(-3deg);
  }
  80% {
    transform: skew(-3deg);
  }
  90% {
    transform: skew(5deg);
  }
}